:root {
    font-size: 62.5%;

}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.cabecalho__titulo {
    background-color: blue;
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
    padding-block: 2rem;

    display: none;
}

body {
    background-color: whitesmoke;
}